{{!< default}}

{{#is "page"}}

<div class="post-content post-column">
  <div class="page-content">
    <h2>We should've stopped using resumes in 2012</h2>
    <a href="https://www.linkedin.com/in/fredzaw/" class="big-link">Go to LinkedIn</a>
  </div>
</div>

{{/is}}
